.popup__button_sign {
    margin: 0;
    padding: 0;
    font-family: 'Inter-400', 'Ariel', sans-serif;
    font-size: 18px;
    line-height: 22px;
    background-color: white;
    color: black;
    border-radius: 2px;
}