.profile__edit-button{
  margin: 16px 0 0 0;
  padding: 0;
  height: 24px;
  width: 24px;
  background-image: url(../../../images/Edit.svg);
  background-color: black;
  outline: 1px solid white;
  border-width: 0;
  cursor: pointer;
  transition: 0.5s linear;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button{
    height: 18px;
    width: 18px;
    margin: 8px 0 0 0;
  }
}
