.card__like{
  margin: 0;
  padding: 0;
  width: 29px;
  height: 19px;
  cursor: pointer;
  transition: 0.5s linear;
  background-size: 22px 19px;
  background-image: url(../../../images/Like.svg);
  border-width: 0;
  background-position: center;
  background-repeat:no-repeat;
  background-color: white;
}

.card__like:hover{
  opacity: 0.5;
}

